# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List the most popular languages ​​for data science
- Describe the most used libraries in data science
- Visualize data in Python
- Make data visualizations with Matplotlib
- Understand the use of R


Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow


| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [37]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [39]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Flor Ramirez.